_site/
*.swp
*.~vsd
\#*\#
*~
.DS_Store
.jekyll-metadata



# Local Bundler settings (Gemfile.lock is tracked for reproducible builds)
**/.bundle/


# SpecStory artifacts - keep locally but don't commit
.specstory/
/service/_storage_volumes/
.env
