<h3>Facebook Pages</h3>
<div id="site_facebook_pages">
        <div class="fb-page" 
                data-href="https://www.facebook.com/andrew.blog.0928/" 
                data-tabs="messages,timeline"
                data-small-header="false" 
                data-adapt-container-width="true" 
                data-hide-cover="false" 
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/andrew.blog.0928/" 
                        class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/andrew.blog.0928/">安德魯的部落格</a>
                </blockquote>
        </div>
</div>