<h3>Facebook Pages</h3>
<div id="site_mvp">
    <a href="https://mvp.microsoft.com/zh-tw/PublicProfile/5002155?fullName=Andrew%20%20Wu" target="_blank">
        <img style="border-width:0; " src="/public/MicrosoftMVPLogo.png" />
    </a>
</div>
<div id="site_facebook_pages">
        <div class="fb-page" data-href="https://www.facebook.com/andrew.blog.0928/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/andrew.blog.0928/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/andrew.blog.0928/">安德魯的部落格</a></blockquote></div>
</div>