<!-- 
<h3>Search</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>

<ul id="search_results"></ul>

<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

 -->
<h3>安德魯部落格 GPTs</h3>
<div id="site_chatgpt">
    試試看! (測試中, 歡迎給我改善建議!)
    <br/>
    
    <a href="https://chat.openai.com/g/g-F3ckJut37-an-de-lu-de-bu-luo-ge" target="_blank" rel="noopener">
        現在可以用 Chat GPT 來問我問題了!
    </a>
    
    <br/>
    想要詢問我的文章內容嗎? 試試看 "安德魯的部落格 GPTs", 直接在 GPTs 內詢問你的問題吧! 
    我的 GPTs 幫你找到相關文章，並且盡力協助你! 你除了看文章之外，GPTs 也會用我文章的知識來回答你的問題。
<!-- 
    歡迎看這篇文章，有詳細的說明~
    有不錯的問答案例，也歡迎留下 comments 給我，我會加入到 GPTs 的訓練資料庫中。 -->

</div>
<link rel="stylesheet" type="text/css" href="/assets/css/modules/sidebar-search.css">
