<h3>安德魯部落格 Search Agent</h3>

點右下角的藍色聊天圖示，試試用 AI 幫你找文章吧！

<script>
    window.difyChatbotConfig = {
     token: '9b5MQIuRblfWdNkK',
     baseUrl: 'http://dify.chicken-house.net'
    }
   </script>
   <script
    src="http://dify.chicken-house.net/embed.min.js"
    id="9b5MQIuRblfWdNkK"
    defer>
   </script>
   <style>
     #dify-chatbot-bubble-button {
       background-color: #1C64F2 !important;
     }
</style>


<!-- 
    <div id="site_chatgpt">
    試試用 <a href="https://chat.openai.com/g/g-F3ckJut37-an-de-lu-de-bu-luo-ge" target="_blank" rel="noopener">GPTs</a> 幫你讀文章!
    <br/>
    直接用白話文詢問，"安德魯的部落格 GPTs" 會幫你找到相關文章，也會用我文章的知識來回答你的問題。


    </div> 
-->

<!-- 
<h3>Search</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>

<ul id="search_results"></ul>

<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/modules/sidebar-search.css">
 -->
